@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

.course-details-heading-small {
  @apply text-[26px] leading-[36px];
}

.course-details-heading-large {
  @apply text-[36px] leading-[44px];
}

.home-heading-small {
  @apply text-[32px] leading-[40px];
}

.home-heading-large {
  @apply text-[48px] leading-[56px];
}

.default{
  @apply text-[15px] leading-[21px];
}

.grid-cols-auto{
  @apply grid-cols-[repeat(auto-fit,minmax(200px,1fr))];
}

.h-section-height{
  @apply h-[500px]
}

@layer base{
  html{
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar{
  display:none;
}

.rich-text{
  font-size: 15px;
  color:#7A7B7D
}

.rich-text p{
  margin-bottom: 16px;
}

.max-w-course-card{
  @apply max-w-[424px]
}

.shadow-custom-card{
  @apply shadow-[0px_4px_15px_2px_rgba(0,0,0,0.1)]
}